[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
dog = "*"
celery = "*"
redis-server = "*"
decorators = "*"

[requires]
python_version = "3.7"
